[type="submit"] {
  background-color: $color-brand;
  border: 0;
  color: $color-white;
  font-size: $font-size-text-x-large;
  font-weight: $font-weight-bold;
  height: 4rem;
  width: 12rem;
}

[type="submit"]:hover {
  background-color: $color-brand-hover;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-x-small;
}

[type="text"] {
  border: 0;
  border-radius: $border-radius-medium;
  height: 2rem;
  margin-bottom: $spacing-medium;
  margin-top: $spacing-x-small;
}

textarea {
  border-radius: $border-radius-medium;
  height: 15rem;
  margin-bottom: $spacing-medium;
}
